*.json
*.gz
*.log
*.aux
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.out
# *.html
# *.pdf
R/HW7/.Rhistory
Latex/main.pdf
.Rproj.user
Latex/Ref/
R/Essay 1/mnist/t10k-images.idx3-ubyte
R/Essay 1/mnist/
R/Essay 1/usps/usps.h5
*.Rhistory
*.zip
